#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define NUMBER  1
#define FN  2
#define HOTKEY  3
#define SYMBOL  4

#define AS(keycode) &as LS(keycode) keycode

/ {

   

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEFAULT";
            bindings = <
                 &kp UP                       &kp Y    
    &kp LEFT    &kp SPACE    &kp RIGHT        &kp H     
                 &kp DOWN                     &kp N    
                                              &kp SPACE      
                                                                                                                                   
            >;
        };

        number_layer {
            label = "NUMBER";
            bindings = <
                     &kp F4                       &kp F5  
       &none         &kp N1         &kp N2        &kp N3         
                    &kp LSHFT                     &none      
                                                  &none   
                  
            >;
        };

        fn_layer {
            label = "FN";
            bindings = <
&kp F4                       &kp F5  
       &none         &kp N1         &kp N2        &kp N3         
                    &kp LSHFT                     &none      
                                                  &none   
            >;
        };

        hotkey_layer {
            label = "HOTKEY";
            bindings = <
&kp F4                       &kp F5  
       &none         &kp N1         &kp N2        &kp N3         
                    &kp LSHFT                     &none      
                                                  &none   
            >;
        };

        symbol_layer {
            label = "SYMBOL";
            bindings = <
&kp F4                       &kp F5  
       &none         &kp N1         &kp N2        &kp N3         
                    &kp LSHFT                     &none      
                                                  &none   
            >;
        };
    };
};
